PORT=4000
FRONTEND_URL=http://localhost:5173,https://canal-confidencial-prante-frontend.vercel.app
ADMIN_USER=admin
ADMIN_PASSWORD=canalaberto8724
JWT_SECRET=8f3a9c2e7d5b4a1f9e6c3b2a8d7f4c1e
EMAIL_FROM=onboarding@resend.dev
EMAIL_TO=jessica.meinerz@grupoprante.com.br
RESEND_API_KEY=sua_chave_da_resend
